.app {
  display: flex;
  margin: 6em 2em;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app.social-feed-drawer-is-open {
  max-width: 100%;
}

.logo {
  width: 400px;
}

.content {
  display: flex;
  width: 100%;
}

.streams {
  display: flex;
  padding: 2em;
  margin: 0;
  margin-top: 3em;
  width: 100%;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
  background: #77777730;
  border-radius: 2em;
}

.streams li {
  width: calc(50% - 1em);
}

.streams li > div {
  position: relative;
  height: 310px;
  background: #77777730;
  overflow: hidden;
  max-width: 100%;
}

.streams li iframe,
.streams li object,
.streams li embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  width: 76px;
  height: 100%;
  list-style: none;
  background: #ffffff30;
}

.main-navigation a {
  color: #ffffff60;
}

.social-feed-drawer-container {
  margin-top: 1em;
  margin-right: 2em;
}

.social-feed-drawer-container.is-open {
  display: block;
}

.social-feed-drawer-container.is-closed {
  display: none;
}

.social-feed-drawer {
  position: relative;
  width: 500px;
  height: 100%;
}

.social-feed-drawer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

.social-feed-navigation {
  padding: 0;
  list-style: none;
  font-size: 20px;
  text-align: center;
}

.social-feed-navigation li {
  display: inline-block;
  margin-right: 2em;
}

.social-feed-navigation a {
  display: inline-block;
  padding: 0 10px 10px;
  color: #fff;
  text-decoration: none;
}

.social-feed-navigation a.is-active {
  border-bottom: 2px solid #fff;
}

.social-feed-loading-indicator {
  position: absolute;
  margin-top: 80px;
  left: calc(50% - 50px);
}

.social-feed {
  display: none;
}

.social-feed.is-active {
  display: block;
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 1px;
  z-index: 2;
  background: #050523;
  border-radius: 50%;
}

.social-feed-icon {
  transition: fill 0.25s;
}

.social-feed-icon.is-active,
.social-feed-icon:hover {
  fill: #fff;
}

.close-icon {
  transition: fill 0.25s;
}

.close-icon:hover {
  fill: #fff;
  cursor: pointer;
}
