.app {
  display: flex;
  margin: 3em 2em;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 640px) {
  .app {
    margin: 4em 2em;
  }
}

@media only screen and (min-width: 880px) {
  .app {
    margin: 6em 2em;
  }
}

.app.social-feed-drawer-is-open {
  max-width: 100%;
}

.logo-container {
  display: flex;
}

.logo {
  width: 250px;
  height: 100%;
}

@media only screen and (min-width: 640px) {
  .logo {
    width: 300px;
  }
}

@media only screen and (min-width: 880px) {
  .logo {
    width: 400px;
  }
}

.storm-mode-indicator {
  margin-left: 10px;
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 50%;
}

.content {
  display: flex;
  width: 100%;
}

.streams {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 2em;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 2em;
}

.app.social-feed-drawer-is-open .streams {
  display: none;
}

@media only screen and (min-width: 640px) {
  .streams {
    padding: 2em;
    background: #1a1b2f;
  }
}

@media only screen and (min-width: 1120px) {
  .streams {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 880px) {
  .app.social-feed-drawer-is-open .streams {
    display: flex;
    margin-top: 3em;
  }
}

.streams li {
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1120px) {
  .streams li {
    width: calc(50% - 1em);
    text-align: left;
  }

  .streams li:nth-child(odd) {
    margin-right: 2em;
  }
}

.streams li > div {
  position: relative;
  padding-bottom: 56.25%;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  background: #000;
}

.streams li > div iframe,
.streams li > div object,
.streams li > div embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-navigation {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.main-navigation li {
  margin: 0 1em;
}

.main-navigation a {
  padding: 0 20px 12px;
  transition: color 0.25s;
  border-bottom: 2px solid transparent;
}

.main-navigation a:hover {
  color: #fff;
}

.main-navigation .is-active {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.main-navigation .social-feed-icon {
  margin-right: 10px;
}

.main-navigation-mobile {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  list-style: none;
  background: #1a1b2f;
  z-index: 1;
  box-shadow: 0 0 50px #00000077;
}

@media only screen and (min-width: 880px) {
  .main-navigation-mobile {
    display: none;
  }

  .main-navigation {
    display: flex;
  }
}

.main-navigation-mobile li {
  margin: 0 20px;
}

.main-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.main-navigation a,
.main-navigation-mobile a {
  text-decoration: none;
  color: #ffffff60;
  transition: color 0.25s;
}

.main-navigation-mobile .is-active,
.main-navigation-mobile a:hover {
  color: #fff;
}

.social-feed-drawer-container {
  position: relative;
  margin: 1em 0 3em;
  width: 100%;
  height: 70vh;
}

@media only screen and (min-width: 880px) {
  .social-feed-drawer-container {
    margin-top: 3em;
    margin-left: 2em;
    height: auto;
  }
}

.social-feed-drawer-container.is-open {
  display: block;
}

.social-feed-drawer-container.is-closed {
  display: none;
}

.social-feed-drawer {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 880px) {
  .social-feed-drawer {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1120px) {
  .social-feed-drawer-container,
  .social-feed-drawer {
    width: 400px;
  }

  .app.social-feed-drawer-is-open .streams {
    width: 100%;
  }
}

@media only screen and (min-width: 1260px) {
  .social-feed-drawer-container,
  .social-feed-drawer {
    width: 500px;
  }
}

.social-feed-drawer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

.social-feed-refresh-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: calc(50% - 52px);
  margin-top: 40px;
  padding: 0;
  width: 0;
  background: #1a1b2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  opacity: 0;
  transition-property: margin-top, background;
  transition-duration: 0.25s;
  z-index: 1;
}

.social-feed-refresh-button.is-visible {
  margin-top: 60px;
  padding: 12px 30px;
  width: auto;
  opacity: 1;
}

.social-feed-refresh-button:hover {
  background: #42435d;
  cursor: pointer;
}

.social-feed-refresh-button span {
  margin-left: 5px;
  display: none;
}

.social-feed-refresh-button.is-visible span {
  display: block;
}

.social-feed-navigation {
  padding: 0;
  list-style: none;
  font-size: 20px;
  text-align: center;
}

.social-feed-navigation li {
  display: inline-block;
  margin-right: 2em;
}

.social-feed-navigation a {
  display: inline-block;
  padding: 0 10px 10px;
  color: #fff;
  text-decoration: none;
}

.social-feed-navigation a.is-active {
  border-bottom: 2px solid #fff;
}

.social-feed-loading-indicator {
  position: absolute;
  margin-top: 120px;
  left: calc(50% - 116px);
  height: 232px;
  animation: spin 0.5s linear infinite;
}

.social-feed {
  display: none;
}

.social-feed.is-active {
  display: block;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 15px;
  padding: 1px;
  z-index: 2;
  background: #050521;
  border-radius: 50%;
  display: block;
}

@media only screen and (min-width: 880px) {
  .close-icon {
    display: none;
  }
}

.social-feed-icon {
  transition: fill 0.25s;
}

.close-icon {
  transition: fill 0.25s;
}

.close-icon:hover {
  fill: #fff;
  cursor: pointer;
}

.blink {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  opacity: 1;
}

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink-animation {
  to {
    opacity: 0;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
