.app {
  display: flex;
  margin: 6em 2em;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 400px;
}

.content {
  display: flex;
  width: 100%;
}

.streams {
  display: flex;
  padding: 2em;
  margin: 0;
  margin-top: 3em;
  width: 100%;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
  background: #77777730;
  border-radius: 2em;
}

.streams li {
  width: calc(50% - 1em);
}

.streams li > div {
  position: relative;
  height: 350px;
  background: #77777730;
  overflow: hidden;
  max-width: 100%;
}

.streams li iframe,
.streams li object,
.streams li embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-feed-links {
  padding: 0;
  list-style: none;
}

.social-feed-links a {
  margin-right: 1em;
  color: #ffffff60;
}

.social-feed-drawer-overlay {
  width: 100%;
  height: 100%;
  background: #00000090;
}

.social-feed-drawer-overlay.is-open {
  display: block;
}

.social-feed-drawer-overlay.is-closed {
  display: none;
}

.social-feed-drawer {
  width: 500px;
  height: 100%;
  background: #050523;
}

.social-feed-drawer iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.social-feed-navigation a.is-active {
  border-bottom: 2px solid #fff;
}
